{
	"root-addon": "../..",
	"root-data": "./DATAS",
	"db-relative": ".ptr/",
	"wago-directories": [
		"../.wago/PTR",
	],
	"DataPhase": "MID",
	"DataPatch": [
		12,
		0,
		9,
		99999
	],
	"PreProcessorTags" : [
        "RETAIL",
		"PTR", "PTR2",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS",
    ]
}
